/*GENERAL*/

body {
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 45px 0 80px 0;
}

section .heading {
    text-align: center;
    padding-bottom: 40px;

}

section .heading h2 {
    text-transform: uppercase;

}


ul,
ol {
    list-style: none;
}

.button1 {
    font-weight: bold;
    text-transform: uppercase;
    color: black;
    border: 1px solid white;
    display: inline-block;
    margin-top: 20px;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
    background: transparent;

}

.button1:hover {
    background: white;
    color: #a73b3c;
    text-decoration: none;
}

/*Formulaire*/
#contact-form {
    font-size: 20px;
    color: black;




}

.form-control {
    height: 50px;
    font-size: 18px;

}

.comments {
    font-style: italic;
    font-size: 18px;
    color: black;
    height: 25px;
}

#contact-form input[type=submit] {
    margin: 40px auto 0px;
    display: block;
}

.thank-you {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 22px;
}